
      * {
        padding: 0;
        margin: 0;
      }
      body{
        background-color: whitesmoke
      }
      .title{
        text-align: center;
      }
      .menu{
        display: flex;
        justify-content: center;
      }
      .all-img {
        width: 280px;
        border: solid 2px black;
        box-shadow: 1px 1px 10px 0.2px black;
        margin: 30px;
        background-color: white;
        border-radius: 10px;
      }
      .product-title{
        padding-bottom: 10px;
      }
      .images {
        width: 100%;
        height: 200px;
        border-radius: 10px 10px 0 0;
      }
      .description {
        padding: 10px 20px;
      }
      .quntity{
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 5px;
        font-size: 20px;
      }
      .quntity button{
        padding: 3px 8px;
        margin: 5px;
        border-radius: 10px;
        border: none;
        background-color: black;
        color: white;
        border: 2px solid white;
        box-shadow: 0 0 5px 0.2px white;
        cursor: pointer;
      }
      .buy{
        padding: 10px 30px;
        margin-top: 20px;
        margin-left: 40px;
        margin-bottom: 20px;
        color: white;
        border: 2px solid black;
        background-color: black;
        border-radius: 5px;
        font-size: 15px;
      }
      .buy:hover{
        color: black;
        border: 2px solid black;
        background-color: transparent;
        transition: 0.5s;
        box-shadow: 2px 2px 10px 2px black;

      }
      h1{
        font-size: 25px;
        margin-top: 10px;
      }
     
     span{
      color: rgb(71, 70, 70);
      font-size: 20px;
      padding: 5px;
     }
     .price{
      padding-top: 10px;
      font-size: 20px;
    
     }